@use 'base/variables' as v;
@use 'base/mixins' as m;

.cards {

  .title-cards-container {
    text-align: center;
    margin-bottom: 3rem;
  }

  .paragraph-cards-container {
    text-align: center;
    margin-bottom: 3rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include m.tablet {
      grid-template-columns: 1fr;
    }
  }
}

.card {
  padding: 2rem;
  text-align: center;
  background-color: rgba($color: #ffffff, $alpha: .08);
  backdrop-filter: blur(.4rem);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 10px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 16px -1px rgba(0, 0, 0, 0.75);

  .card-icon {
    font-size: 10rem;
  }

  .card-title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  .separator{
    margin: 2rem auto;
  }

  .technologies {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .skill-icon {
      color: v.$principalColor;
      width: 5rem;
      height: 5rem;

      &.fa-html5 {color: #D94A1E;}
      &.fa-css3-alt {color: #0B6DAF;}
      &.fa-sass {color: #C36291;}
      &.fa-js-square {color: #D99A26;}
      &.fa-gulp {color: #DC484C;}
      &.fa-php {color: #404D85;}
      &.fa-database {color: #DC931F;}
      &.fa-code-branch {color: #E74B27;}
      &.fa-clipboard-list {color: #000000;}
      &.fa-wordpress{color: #21759B;}
    }

  }

  // Nuevo diseño de las cards
  .skills-list {
    margin: 4rem 0;

    .skill {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;

      .skill-icon {
        flex: 1;
        font-size: 4rem;
      }

      .skill-text {
        flex: 3;
        font-size: 2rem;
        text-align: start;
      }
    }
  }
}