@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
  background-color: v.$black;
  color: v.$gray;
  
  .footer-container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // column-gap: 20rem;
    justify-items: center;

    @include m.tablet{
      padding: 1rem;
      grid-template-columns: 1fr;
      row-gap: 4rem;
      justify-items: start;
    }

    @include m.phone{
      &.container{
        width: 95%;
      }
    }

    h3{
      color: v.$white;
      text-align: start;
      font-size: 2rem;
    }

    .contact{
      .contact-group{
        a{
          width: auto;
          display: flex;
          align-items: center;
          color: v.$white;
          font-size: 3rem;
          transition: all .2s ease;
          
          p{
            margin: .7rem;
            font-size: 2rem;
            transition: all .2s ease;

            &:hover{
            //   background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
            //   background: linear-gradient(to right, #eaafc8, #654ea3);
            //   background-clip: text;
            //   -webkit-text-fill-color: transparent;
              color: v.$purple; 
            }

            @include m.breakpointSmartWatch{
              font-size: 1.6rem;
            }
          }

          &:hover{
            color: v.$pink;
          }
        }
      }
    }

    .other-pages{
      ul{
        li{
          list-style: disc;
          transition: color .2s ease;
          display: flex;
          align-items: center;

          a{
            color: v.$white;
            font-size:  2rem;
            transition: color .2s ease;
          }

          span{
            color: v.$darkGray;
            font-size: 1rem;
            margin-left: .7rem;
          }
          
          &:hover{
            color: v.$principalColor;

            a{
              color: v.$pink;
            }
          }
        }
      }
    }
  }

  .copyright{
    text-align: center;
    width: 100%;
    padding: 2rem 1rem;
    color: v.$white;
    
    p{
      font-size: 1.8rem;
    }
  }
}