@use 'base/variables' as v;
@use 'base/mixins' as m;

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include m.phone{flex-direction: column}
}

.social-icons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .social-icon {
    align-items: center;  
    color: v.$gray;
    display: flex;  
    height: 50px;
    width: 50px;
    justify-content: center;
    margin: 2px; 
    text-decoration: none; 
    transition: all .2s ease;
    font-size: 3rem;
  }
  
  .round {
    border-radius: 50%;
  }
  
  .social-icon:hover {  
    color: #fff;
  }
  
  .shadow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }
  
  #linkedin:hover  {
    background-color: #0177B5;
  }

  #github:hover{
    background: #4078c0;
    // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  
  .icono-social:active {
    transform: scale(.9);
  }
}