@use "variables" as v;

h1,
h2,
h3 {
  font-family: v.$principalFont;
  margin: 0;
  font-weight: 400;
  color: v.$white;
  text-transform: uppercase;
  text-align: center;
  background: v.$gradientWebkit;
  background: v.$gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  color: v.$darkGray;
  font-size: 2.6rem;
  font-weight: 300;
}
